<body>
  <div class="">
    <header id="dieCastBgImg">
      <div class="d-inline-flex">
        <nav class="navbar" id="navBar">
          <div class="flex-grow-1 px-5" id="title">COLLECTOR</div>
          <a class="nav-link active px-3 text-dark text h5" href="#">About</a>
          <a
            *ngIf="!menuVisible"
            class="nav-link px-3 text-dark text h5"
            (click)="openLogin()"
            >Log In</a
          >
          <a
            *ngIf="!menuVisible"
            class="nav-link px-3 text-dark text h5"
            (click)="openReg()"
            >Register</a
          >
          <a
            *ngIf="menuVisible"
            class="nav-link px-3 text-dark text h5"
            (click)="userService.logoutUser()"
            >Log Out</a
          >

          <!-- TODO: MAKE THIS INTO A MENU OF USER'S COLLECTION LISTS -->
          <a
            *ngIf="menuVisible"
            class="nav-link px-3 text-dark text h5"
            id="dieCastLink"
            routerLink="/diecast-list"
            >Your Collections</a
          >
        </nav>
      </div>
    </header>
  </div>
</body>
